<style>

    h1 {
        text-align: center;
        margin-bottom: 20px;
    }

    form {
        max-width: 400px;
        margin: 0 auto;
        border: 1px solid #5274a2;
        padding: 20px;
        border-radius: 5px;

    }

    label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;

    }

    input[type="text"],
    input[type="password"],
    input[type="email"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    input[type="submit"] {
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background-color: #0056b3;
    }

    .fa-user {
        margin-right: 10px;
        justify-content: end;
    }
</style>
<h1>Inscription</h1>
<form action="index.php?page=app/create" method="POST" enctype="multipart/form-data">
    <div class="auth-form px-3">
        <label for="username">
            <i class="fas fa-user "></i>

            <input type="text" id="username" placeholder="Enter your username" name="username" required>
        </label>
    </div>
    <div class="auth-form px-3">
        <label for="password">
            <i class="fas fa-lock"></i>
            <input type="password" id="password" placeholder="Enter your password" name="password" required>
        </label>
    </div>
    <div class="auth-form px-3">
        <label for="email">
            <i class="fas fa-envelope"></i>

            <input type="email" id="email" placeholder="Enter your email" name="email" required>
        </label>
    </div>
    <input type="submit" value="S'inscrire">
</form>





