<style>

    h1 {
        text-align: center;
        margin-bottom: 20px;
    }

    form {
        max-width: 400px;
        margin: 0 auto;
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 5px;

    }

    label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
    }



    input[type="text"],
    input[type="password"],
    input[type="email"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    input[type="submit"] {
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background-color: indigo;
        width: 100%;


    }

    .btn {


    }

    .auth-form label {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .auth-form i {
        margin-right: 10px;
</style>
<h1>connexion</h1>
<form action="index.php?page=app/login" method="POST" class="p-3">
    <div class="auth-form px-3  ">
        <label for="username" class="form-label"></label>
        <i class="fas fa-user"></i>
        <input type="text" id="username" placeholder="Enter your username" name="username" class="form-control" required>

    </div>

    <div class="auth-form px-3">
        <label for="pwd" class="form-label"></label>
            <i class="fas fa-lock"></i>
        <input type="password"  placeholder="Enter your password" id="pwd" name="pwd" class="form-control" required>
        <i class="uil uil-eye-slash password"></i>
    </div>

    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="remember" name="remember">
        <label class="form-check-label" for="remember">Remember me?</label>
    </div>

    <button type="submit" class="btn btn-primary auth-form px-3">Se connecter</button>

    <p>Pas encore inscrit ? <a href="index.php?page=inc/create">Créer un compte</a></p>
</form>






